# Case Study on Testing of Hypothesis
### A company started to invest in digital marketing as a new way of their product
### promotions.For that they collected data and decided to carry out a study on it.
## ● The company wishes to clarify whether there is any increase in sales after
## stepping into digital marketing.
## ● The company needs to check whether there is any dependency between the
## features “Region” and “Manager”.
### Help the company to carry out their study with the help of data provided.

In [11]:
import pandas as pd
import numpy as np

In [12]:
data=pd.read_csv("E:\Python Programming\Assignments\Sales_add.csv")

In [13]:
data.head(5)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [14]:
data.dtypes

Month                             object
Region                            object
Manager                           object
Sales_before_digital_add(in $)     int64
Sales_After_digital_add(in $)      int64
dtype: object

In [16]:
data['Month']=data['Month'].astype('str')
data['Region']=data['Region'].astype('str')
data['Manager']=data['Manager'].astype('str')

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [17]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# ● The company wishes to clarify whether there is any increase in sales 
#     after stepping into digital marketing.

### Null Hypothesis : Sales  after digital marketing increased
### Alternate Hypothesis :  Sales after digital marketing did not increase.

#### One tailed t-test

In [18]:
from scipy.stats import ttest_ind

In [20]:
ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

### Here pvalue=2.614368006904645e-16 > 0.05 , so we failed to reject the null hypothesis.
### i.e Sales  after digital marketing increased

# ● The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [21]:
data.head(5)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [22]:
data.dtypes

Month                             object
Region                            object
Manager                           object
Sales_before_digital_add(in $)     int64
Sales_After_digital_add(in $)      int64
dtype: object

## Z-test

### Null Hypothesis : There is no dependecy between Region and Manager
### Alternate Hypothesis : There is dependency between Region and Manager

In [42]:
ct=pd.crosstab(data.Region, data.Manager, margins=True)

In [43]:
ct

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

In [57]:
data2=np.array([ct.iloc[0][0:3].values,ct.iloc[1][0:3].values,ct.iloc[2][0:3].values])

In [58]:
data2

array([[4, 3, 3],
       [4, 1, 2],
       [1, 3, 1]], dtype=int64)

In [61]:
data2.shape

(3, 3)

In [63]:
import scipy.stats as stats

In [60]:
stats.chi2_contingency(data2)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [ ]:
Chi-Square Test Statistic: 3.050566893424036
p-value: 0.5493991051158094
Degrees of freedom:  4

In [66]:
import scipy.stats 
scipy.stats.chi2.ppf(1-.05, df=4)

9.487729036781154

### Insights:-
    
#### Since the Chi-Square value= 3.050566893424036 < 9.487729036781154- critical value , we fail to reject the Null 
#### hypothesis and conclude that there is no significant difference between observed and the expected results 
#### i.e. there is no significant dependency between Manager and Region 


### The p value=0.5493991051158094>0.05 and we fail to reject the null hypothesis.

### i.e.  There is no dependecy between Region and Manager